#myheader {
    color: blue;
}

/* li.button {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #eee;
    border: 1px solid grey;
    border-radius: 10px;
}

li.button:hover {
    background-color: lightgray;
} */

button > li {
    width: 100%;
}